body {
    background-color: gray;
    background-image: url("../public/img/arknights_back.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.Caster{
    background-image: url("../public/img/icon_profession_caster_large.png");
    width: 60px;
    height: 60px;
    background-size: cover;
}
.Caster-big{
    background-image: url("../public/img/icon_profession_caster_large.png");
    width: 100px;
    height: 100px;
    background-size: cover;
}

.Sniper{
    background-image: url("../public/img/icon_profession_sniper_large.png");
    width: 60px;
    height: 60px;
    background-size: cover;
}
.Sniper-big{
    background-image: url("../public/img/icon_profession_sniper_large.png");
    width: 100px;
    height: 100px;
    background-size: cover;
}

.Defender{
    background-image: url("../public/img/icon_profession_defender_large.png");
    width: 60px;
    height: 60px;
    background-size: cover;
}
.Defender-big{
    background-image: url("../public/img/icon_profession_defender_large.png");
    width: 100px;
    height: 100px;
    background-size: cover;
}

.Guard{
    background-image: url("../public/img/icon_profession_guard_large.png");
    width: 60px;
    height: 60px;
    background-size: cover;
}

.Guard-big{
    background-image: url("../public/img/icon_profession_guard_large.png");
    width: 100px;
    height: 100px;
    background-size: cover;
}

.Medic{
    background-image: url("../public/img/icon_profession_medic_large.png");
    width: 60px;
    height: 60px;
    background-size: cover;
}

.Medic-big{
    background-image: url("../public/img/icon_profession_medic_large.png");
    width: 100px;
    height: 100px;
    background-size: cover;
}

.Specialist{
    background-image: url("../public/img/icon_profession_specialist_large.png");
    width: 60px;
    height: 60px;
    background-size: cover;
}

.Specialist-big{
    background-image: url("../public/img/icon_profession_specialist_large.png");
    width: 100px;
    height: 100px;
    background-size: cover;
}

.Supporter{
    background-image: url("../public/img/icon_profession_support_large.png");
    width: 60px;
    height: 60px;
    background-size: cover;
}
.Supporter-big{
    background-image: url("../public/img/icon_profession_support_large.png");
    width: 100px;
    height: 100px;
    background-size: cover;
}

.Vanguard{
    background-image: url("../public/img/icon_profession_vanguard_large.png");
    width: 60px;
    height: 60px;
    background-size: cover;
}

.Vanguard-big{
    background-image: url("../public/img/icon_profession_vanguard_large.png");
    width: 100px;
    height: 100px;
    background-size: cover;
}

.elite0{
    background-image: url("../public/img/elite0.png");
    width: 60px;
    height: 60px;
    background-size: cover;
}
.elite1{
    background-image: url("../public/img/elite1.png");
    width: 60px;
    height: 60px;
    background-size: cover;
}
.elite2{
    background-image: url("../public/img/elite2.png");
    width: 60px;
    height: 60px;
    background-size: cover;
}

.with-image{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
}


nav{
    display: flex;
    align-self: center;
    justify-content: center;
}
a {
    text-decoration: none;
}

nav a:hover{
    text-decoration: underline;  
    color: crimson; 
}

.navigation{
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 13px gray;
    border-radius: 20px;
    padding-left: 200px;
    padding-right: 200px;
    margin: 10px;
}

.navigationText{
    font-size: 50px;
    font-weight: bold;
    color: blue;
}

.one-operator{
    width: auto;
    box-shadow: 0 0 5px blue;
    background-color:darkgray;
    border-radius: 20px;
    padding: 10px;
    margin: 20px;
}
.one-operator:hover{
    box-shadow: 0 0 5px crimson;
    background-color:darkgray;
}

.main-char-text{
    font-size: 20px;
    font-weight: bold;

    color:crimson;
}

.sub-char-text{
    font-size: 15px;
    font-weight: bold;

    color:blue;
}

.nice-button{
    font-size: 15px;
    margin: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
    border-color: blue;
    background-color: darkgray;
    color: blue;
    font-weight: bold;
}

.nice-button:hover{
    border-color: crimson;
    color: crimson;
}

.character-edit{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-part{
    margin: 10px;
    padding: 5px;
    font-size: 20px;
    width: 300px;
    color: darkmagenta;
    box-shadow: 0 0 5px blue;
    background-color:darkgray;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nice-input{
    font-size: 15px;
    margin: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
    border-color: crimson;
    background-color: darkgray;
    color: crimson;
    font-weight: bold;
}

.nice-input:hover{
    border-color: blue;
    color: blue;
}